# CI mean

Facebook would like to know the average time spent on their site. To do so, they launched a study on 100 people and asked them how much time they spend on Facebook per day:
Open the Hours spent on Facebook.xlsx file.
Calculate the mean and standard deviation of the dataset.
We would like to know the mean of the total population. Calculate the 95% confidence interval.

In [11]:
import pandas as pd
import numpy as np
import math as m
import scipy.stats as stats

## t statistics 

[mean - error, mean + error] # confidence interval for level confidence alpha typical 0.05


1. mean of the sample
2. error = t s/sqrt(n) we need know std deviation: belief that the std deviation of the sample is exactly 
 std deviation of the population

n = number samples
s = std deviation of the sample distribution
t ????
t is the quantile such that p(x <=t)= 1- alpha  ## distr.cdf(t) =0.95 -->  t = distr.ppf(0.95)
ppf: Percent Point Function (Inverse of CDF)

In [14]:
df = pd.read_excel("Hours Spent on Facebook.xlsx")

In [15]:
df

     Customer   Hours spent on Facebook on Mobile
0            1                           4.092475
1            2                           7.233371
2            3                           7.455792
3            4                           7.253503
4            5                           2.249682
..         ...                                ...
97          98                           3.748613
98          99                           8.130037
99         100                           1.433601
100        101                           8.507827
101        102                           8.153064

[102 rows x 2 columns]

In [16]:
df.columns

Index(['Customer ', 'Hours spent on Facebook on Mobile'], dtype='object')

In [17]:
# we want give avg number of hours that people spend online on FB

In [18]:
n=102

In [19]:
# mean and std 
mean = df['Hours spent on Facebook on Mobile'].mean()
std = df['Hours spent on Facebook on Mobile'].std()
print(mean, std)

4.847316438536623 2.9789129198018

In [25]:
# error = t * std/sqrt(n)
#(mean -error, mean + error)

In [22]:
#t: p(x <= t)= 0.95 # t t-statistics scipy stats
t =  stats.t.ppf(0.975, df=n-1) # 0.975 because Gaussian is symmetric and we need divide 0.05/2

In [23]:
error = t * std/(m.sqrt(n))

In [24]:
confidence_interval = [mean - error, mean + error ]
confidence_interval

[4.262202420575193, 5.432430456498054]